{
	email yssadhewo@gmail.com
}

pardisbarbershop.biz.id {
	reverse_proxy pos:8080
}

www.pardisbarbershop.biz.id {
	redir https://pardisbarbershop.biz.id{uri}
}

http://43.157.241.146 {
	reverse_proxy pos:8080
}
